include mixins.pug

html
	head
		+head ( title )
	body
		+navbar( userId )
		div.container
			table.table
				thead
					tr
						th User ID
						th Total mins
						th Shopping Mins
						th Snacking Mins
						th Socializing Mins
						th Unique Purchase count
						th Unique Snack count
						th Score
				tbody
					each user in data
						tr 
							td #{user.userId}
							td #{user.totalMins}
							td #{user.shoppingMins}
							td #{user.snackingMins}
							td #{user.socialisingMins}
							td #{user.numUniquePurchases}
							td #{user.numUniqueSnacks}
							td #{user.weightedScore}